<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="16.0.0" targetFramework="net48" />
  <package id="AvalonEdit" version="5.0.3" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Start" version="3.0.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="LinqKit" version="1.1.7.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.TransactSql.ScriptDom" version="170.128.0" targetFramework="net48" />
  <package id="PoorMansTSQLFormatter" version="1.4.3.1" targetFramework="net451" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="net45" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net45" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>