<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="net45" />
  <package id="AvalonEdit" version="5.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Start" version="2.0.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="Fody" version="1.26.4" targetFramework="net45" developmentDependency="true" />
  <package id="LinqKit" version="1.1.1" targetFramework="net451" />
  <package id="PoorMansTSQLFormatter" version="1.4.3.1" targetFramework="net451" />
  <package id="PropertyChanged.Fody" version="1.48.8" targetFramework="net45" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net45" />
</packages>